---
layout: index
---

<section class="section">
  <div class="grid grid-gutter">
    <div class="col col-12 mq-l--col-6">
      <section class="box">
        <h1 class="box-title">Listen in the browser</h1>
        <div class="box-content">
          http://music.pimenta.co/airsonic
        </div>
        <footer class="box-footer">
          <ul>
            <li>
              <a href="#">Open Airsonic</a>
            </li>
          </ul>
        </footer>
      </section>
    </div>
    <div class="col col-12 mq-l--col-6">
      <section class="box">
        <h1 class="box-title">Configure your music player</h1>
        <div class="box-content">
          http://music.pimenta.co/airsonic
        </div>
        <footer class="box-footer">
          <ul>
            <li>
              <a href="#">Copy address</a>
            </li>
            <li>
              <a href="#">More info</a>
            </li>
          </ul>
        </footer>
      </section>
    </div>
  </div>
</section>

<section class="section">
  <h1 class="section-title">More <span class="grey-text">(technical)</span> info</h1>
  <div class="grid grid-gutter">
    <div class="col col-12 mq-l--col-6">
      <section class="box">
        <h1 class="box-title">Airsonic address</h1>
        <div id="airsonic-url" class="box-content">
          http://music.pimenta.co/airsonic
        </div>
        <footer class="box-footer">
          <ul>
            <li>
              <a href="#">Open Airsonic</a>
            </li>
          </ul>
        </footer>
      </section>
    </div>
    <div class="col col-12 mq-l--col-6">
      <section class="box">
        <h1 class="box-title">VNC address</h1>
        <div id="vnc-url" class="box-content">
          http://music.pimenta.co/airsonic
        </div>
        <footer class="box-footer">
          <ul>
            <li>
              <a href="#">Copy address</a>
            </li>
            <li>
              <a href="#">More info</a>
            </li>
          </ul>
        </footer>
      </section>
    </div>
    <div class="col col-12 mq-l--col-6">
      <section class="box">
        <h1 class="box-title">SSH address</h1>
        <div id="ssh-url" class="box-content">
          http://music.pimenta.co/airsonic
        </div>
        <footer class="box-footer">
          <ul>
            <li>
              <a href="#">Open Airsonic</a>
            </li>
          </ul>
        </footer>
      </section>
    </div>
  </div>
</section>
